<div
  class="container text-center mt-2 border shadow-lg p-3 mb-5 bg-body rounded"
>
<div class="border">
  <h1 class="  p-1 m-1 text-uppercase">Bienvenido</h1>
  <h4 class="  p-1 m-1 text-danger"> {{this.username}}</h1>
</div>
  {{!-- <img style="max-width: 150px" src="/uploads/{{this.username}}.jpg" alt=""/> --}}

  <br />
  <a href="/logout" class="btn btn-warning my-2">Cerrar session</a>
  <a href="/cart" class="btn btn-dark my-2">Carrito</a>
  <a href="/chat" class="btn btn-primary my-2">Chatear con soporte</a>
</div>

<div class="container-sm border p-4 shadow-lg p-3 mb-5 bg-body rounded">
  <h2 class="text-center">PRODUCTOS</h2>
  <table action="" class="container-sm table-responsive table-sm table-hover text-center">
    <thead class="table-dark table-responsive-sm fs-6">
      <th>Id</th>
      <th>Title</th>
      <th>Thumbnail</th>
      <th>Price</th>
      <th>Description</th>
      <th>Category</th>
      <th></th>

    </thead>
    <tbody>
      {{#each products}}
        <tr class="fs-4">
          <td>{{_id}}</td>
          <td>{{title}}</td>
          <td><a href="{{thumbnail}}">{{thumbnail}}</a></td>
          <td>${{price}}</td>
          <td>{{description}}</td>
          <td>{{category}}</td>
          <td>
            <form method="POST" action="/cart/{{../this.username}}/{{_id}}">
              <button type="submit" class="btn btn-success btn-block">Agregar</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
